/.idea/*
/player_0.txt
/player_1.txt
/target/*
/build
/sources.txt
/JavaBot.jar
/JavaBot.jar
/localrun/log.txt
/localrun/replay.json
/localrun/JavaBot.jar
/localrun/v_1_0_6
/localrun/*.txt
/src/test
/log.txt
/replay.json
/localrun/*.json
/localrun/*.jar
/localrun/backup
/submission
